<div class="register-container">
  <h1 class="register-header">Sign Up</h1>
  <form>
    <label class="sr-only" for="inlineFormInputName">Username</label>
    <input type="email" id="email" class="register-input" placeholder="Enter your email address" required>

    <label class="sr-only" for="inlineFormPassword">Password</label>
    <input type="password" id="password" class="register-input" placeholder="Enter a password" required>

    <button type="submit" class="btn btn-primary signUp">Get Started</button>

    <div class="signup-options">
      <span class="signup-options-text">Already have an account?</span>
      <a href="#" class="signup-options-link">Sign In</a>
    </div>
  </form>
</div>

 