@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');

.jumbotron { 
    color: #333;

    h1 { 
        font-size: 2em; 
        margin-bottom: 0.5em;
        font-weight: bold; 
    }

    p { line-height: 1.5;}
}

.log-in {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;

    input {
        padding: 0 1em;
        margin-bottom: 1.5em; 
    }
}

.login-submit { 
    font-family: 'Vujahday Script', cursive;
    font-size: 2.25em;
    padding: 0 0.7em; 
}

  
  /* Login Page */
  
  .login-container {
    margin: 100px auto;
    width: 90%;
    max-width: 400px;
    background-color: #141414;
    border-radius: 5px;
    padding: 40px;
    text-align: center;
    justify-content: center;
  }
  
  .login-header {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .login-input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #333;
    border: none;
    border-radius: 3px;
    color: #fff;
    outline: none;
  }
  
  .login-button {
    width: 100%;
    padding: 15px;
    background-color: #e50914;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
  }
  
  .login-button:hover {
    background-color: #f40612;
  }
  
  .login-options {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }
  
  .login-options-label {
    margin-left: 5px;
  }
  
  .login-options-link {
    text-decoration: none;
    color: #b3b3b3;
  }
  
  .login-options-link:hover {
    text-decoration: underline;
  }
  
  .signup-container {
    justify-content: left;
    margin-top: 20px;
    font-size: 16px;
  }
  
  .signup-text {
    color: #b3b3b3;
  }
  
  .signup-link {
    margin-left: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .signup-link:hover {
    text-decoration: underline;
  }
  
  /* Register Page */
  
  .register-container {
    margin: 100px auto;
    width: 90%;
    max-width: 400px;
    background-color: #141414;
    border-radius: 5px;
    padding: 40px;
    text-align: center;
  }
  
  .register-header {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .register-input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #333;
    border: none;
    border-radius: 3px;
    color: #fff;
    outline: none;
  }
  
  .register-button {
    width: 100%;
    padding: 15px;
    background-color: #e50914;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
  }
  
  .register-button:hover {
    background-color: #f40612;
  }
  
  .signup-options {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
  
  .signup-options-text {
    color: #b3b3b3;
  }
  
  .signup-options-link {
    margin-left: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .signup-options-link:hover {
    text-decoration: underline;
  }
  

@media screen and (min-width: 1000px) {
    .jumbotron p {
        width: 80%;
    }
}